/* play-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v47-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v47-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v47-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-brand-ligt: #2b7fff;
  --color-brand-dark: #011c44;
  --color-brand-white: #ffffff;
  --color-brand-gray: #747272;
  --color-brand-light-gray: #d9d9d9;
  --color-brand-blue: #a8c6f5;
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-brand-white);
  margin: 0;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

.section {
  padding: 96px 0;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.social-header {
  display: flex;
  gap: 32px;
  align-items: center;
}

.icon-social {
  fill: var(--color-brand-dark);
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-brand-white);
  background: var(--color-brand-ligt);
  border: 2px solid var(--color-brand-ligt);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Roboto';
  width: 223px;
  height: 57px;
  font-size: 18px;
}

.button:hover {
  color: #000000;
  background-color: transparent;
  border: 2px solid var(--color-brand-ligt);
}

/* Link */
.header-link {
  color: var(--color-brand-dark);
  font-weight: 700;
  line-height: 1.16;
  text-decoration: none;
  transition: color 0.3s;
}

.social {
  color: var(--color-brand-dark);
}

.header-link:hover {
  color: var(--color-brand-ligt);
}

/* Hero section */
.hero-section {
  padding: 172px;
  background-image: url('/Images/hero-section-background-wave.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  width: 100%;
  max-width: 1151.97px;
  height: 100;
  max-height: 686.93px;
}

.hero-container {
  align-items: center;
}

.section-title-hero {
  margin-top: 44px;
  margin-bottom: 0;
  color: var(--color-brand-dark);
  line-height: 1.16;
}

.hero-title {
  max-width: 529px;
  margin-bottom: 0;
  padding: 0px 0px 0px 0px;
  color: var(--color-brand-ligt);
  font-family: 'Play';
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81;
}

.section-gray {
  margin-bottom: 0;
  padding-top: 14px;
  max-width: 238px;
  max-height: 14px;
  color: #4a4a4a;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

/* About us-section */
.about-us-list {
  display: flex;
  gap: 32px;
}

.about-us-item {
  max-width: 709px;
  max-height: 456px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 32px 70px 32px 67px;
}

.section-for-padding-ind {
  padding-bottom: 0;
  padding-top: 131.14px;
}

.section-title-about-us {
  max-width: 529px;
  margin: 40px 0 40px 0;
  color: var(--color-brand-ligt);
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700px;
  line-height: 1.15;
  text-align: left;
}

.section-title-about-us .accent {
  color: var(--color-brand-dark);
}

.section-title-about-us-beauty {
  margin-bottom: 40px;
  max-width: 709px;
  color: var(--color-brand-dark);
  font-size: 22px;
  line-height: 1.7;
}

.section-title-about-us-beauty:last-child {
  margin-bottom: 199px;
}

.section-title-about-us-beauty .bold {
  font-weight: bold;
}

.section-title-about-us-beauty .capitalize {
  text-transform: capitalize;
}

.woman-face {
  display: grid;
  gap: 40px;
}

.face-before {
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.2);
  background-color: #d9d9d9;
  margin: 1px 168px 0 4px;
  border-radius: 50%;
}

.face-after {
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.2);
  background-color: #d9d9d9;
  margin-left: 164px;
  border-radius: 50%;
}

/* Why we are-section */
.section-title-why-we-are {
  text-align: center;
  max-width: 432px;
  margin: 0 auto 130.5px;
  color: var(--color-brand-ligt);
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.15;
}

.section-title-why-we-are .accent {
  color: var(--color-brand-dark);
}

.section-title-card-why {
  display: flex;
  gap: 56px;
  justify-content: center;
}

.section-title-card {
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
  background-color: var(--color-brand-white);
  padding: 85px 32px 24px 32px;
  border: 1px solid lightgray; /* remowe*/
  border-radius: 32px;
  max-width: 316px;
}

.icon-why {
  fill: var(--color-brand-ligt);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-title-why-we-are-text {
  color: #000000;
  line-height: 1.3;
  text-align: center;
}

/* Our treatment-section */
.our-treatment-container {
  align-items: center;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.section-title-our-treatment {
  text-align: center;
  margin-bottom: 48px;
  color: var(--color-brand-ligt);
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.15;
}

.section-title-our-treatment .accent {
  color: var(--color-brand-dark);
}

.our-treatment-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--color-brand-white);
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
}

.our-treatment-button:hover {
  background-color: var(--color-brand-ligt);
  border: 1px solid var(--color-brand-white);
}

.our-treatment-button.next {
  transform: rotate(180deg);
}

.our-treatment-button:hover .our-treatment-icon-arrow {
  fill: var(--color-brand-white);
}

.our-treatment-icon-arrow {
  fill: var(--color-brand-dark);
}

.treatment-list {
  display: flex;
  gap: 16px;
}

.treatment-pict {
  height: 345;
  padding: 37px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--color-brand-dark) 101.39%
  );
  border: 1px solid lightgray; /* remove*/
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  transition: transform 0.3s;
}

.treatment-pict:hover {
  transform: scale(1.1);
}

.right-treatment {
  color: var(--color-brand-white);
  font-size: 22px;
  line-height: 1.18;
}

/* Contacts-section */
.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  border-radius: 32px;
}

.section-title-contacts {
  text-align: center;
  margin-bottom: 48px;
  color: var(--color-brand-ligt);
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.15;
}

.section-title-contacts .accent {
  color: var(--color-brand-dark);
}

.section-title-contacts-title {
  color: var(--color-brand-white);
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
}

.section-title-contacts-title .accent {
  color: var(--color-brand-ligt);
}

.contact-form {
  background-image: url('/Images/contact-background.png');
  background-color: var(--color-brand-dark);
  border-radius: 32px;
  width: 422px;
  height: 482px;
}

.sign-up-find {
  color: var(--color-brand-white);
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  width: 276px;
  margin: 0 auto;
  padding: 48px 0 32px 0;
}

.sign-up-find .highlight {
  color: var(--color-brand-ligt);
}

.form-field-find {
  margin-bottom: 16px;
  font-size: 13px;
}

/* Footer link */
.footer {
  padding: 56px 100px;
  position: relative;
  background-image: url('../Images/footer-background.png');
  background-color: var(--color-brand-dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer-link {
  color: var(--color-brand-white);
  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
}

.address-link {
  color: var(--color-brand-white);
  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
  font-style: normal;
}

.address-social {
  fill: var(--color-brand-white);
  margin-top: 16px;
  margin-right: 28px;
}

.address-link-confi {
  color: var(--color-brand-white);
  font-size: 16px;
  line-height: 1.8;
  font-style: normal;
  text-decoration: none;
}

.address-copyright {
  color: #747272;
  font-size: 13px;
  line-height: 1.15;
  font-style: normal;
}

.footer::after {
  content: '';
  position: absolute;
  background-image: url('../Images/decor-bottles.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 247px;
  height: 152px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 28, 68, 0.725825);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-image: url('/Images/modal-background.png');
  background-color: var(--color-brand-dark);
  border-radius: 48px;
  padding: 42px 144px 0 144px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 32px;
  right: 32px;
}

.request-call {
  color: var(--color-brand-white);
  font-family: Play;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.15;
  text-align: center;
  width: 435px;
  height: 148px;
  margin-bottom: 40px;
}

.sign-up {
  color: var(--color-brand-white);
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  width: 276px;
  margin: 0 auto;
  padding-bottom: 32px;
}

.sign-up .highlight {
  color: var(--color-brand-ligt);
}

/* Form */
.form-field {
  margin-bottom: 24px;
  font-size: 13px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 18px 32.85px;
  width: 310px;
  height: 52px;
  margin: 0 auto;
  display: block;
  font-size: 13px;
  border: 2px solid var(--color-brand-gray);
  border-radius: 32px;
  background-color: var(--color-brand-dark);
  color: var(--color-brand-white);
}

.form-input:focus {
  background-color: var(--color-brand-gray);
  border: var(--color-brand-gray);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-brand-white);
  font-size: 13px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* Button form */
.button-form {
  padding: 16px 32px;
  color: var(--color-brand-white);
  background: var(--color-brand-ligt);
  border: 2px solid var(--color-brand-ligt);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 18px;
  display: block;
  margin: 0 auto 8px;
  text-align: center;
}

.button-form:hover {
  color: #000000;
  background-color: transparent;
  border: 2px solid var(--color-brand-ligt);
}

.form-terms {
  color: var(--color-brand-gray);
  font-size: 12px;
  width: 213px;
  height: 36px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.form-terms-link {
  color: var(--color-brand-gray);
  text-underline-offset: 1px;
}
